h1 Michael Han
p Vancouver, BC
p han.michael@gmail.com

h2 About Me
p I am a software developer searching for that fine line between coding quickly
and coding thoughtfully. I am experienced in Objective-C and Javascript, and I have
dabbled in Ruby, Java, C, C#, C++, and Scheme.

h2 Experience

h3 Software Architect @ ForeSee (2008-Present)

p In 2008 I joined ForeSee as a developer working on the initial release
of SessionReplay, a Javascript tool that records how users interact with a website
and produces high fidelity movies to analyze usability issues.

p In early 2010, I transitioned to iOS development and have been working primarily on 
iOS projects ever since.

h4 Projects

strong SessionReplay for iOS

p.
    An SDK that provides similar functionality to the JS version of SessionReplay. Recordings
    are made by taking screenshots of the app (on a background thread) and creating mp4 movies
    from those screenshots. Together with recorded metadata, such as touches, a full recording 
    is produced that is viewed through a Flash based player.

p.
    Learned a lot about Objective-C, its dynamic runtime, performance analysis using 
    Instruments, and a variety of built-in Cocoa frameworks on this project.

strong Trigger for iOS

p.
    An SDK that provides developers a mechanism to invite their users to participate
    in satisfaction surveys.

p.
    Though this was a relatively simple project, it taught me a lot about designing APIs,
    and the importance of deciding what functionality to expose, how to name and describe
    that functionality and the pitfalls of not having a proper deprecation strategy.


strong Executive Portal Site

p.
    Took a small hiatus from iOS development to level-up my JS skills by contributing
    a custom DatePicker view with Backbone for a new customer facing portal site.


strong Location-based survey panel app (prototype)

p.
    Prototyped a iOS app that used location services to track a users proximity
    to a physical store to try and determine whether the user entered and exited that store.
    Developed a number of heuristics based mostly on location accuracy to determine whether
    someone actually entered and exited a store.

strong Heatmap processor

p.
    Created a Java service to compute and render touch and scroll heatmaps 
    from the metadata recorded by SessionReplay.


h3 Developer @ Nitobi (2006-2008)

p.
    I spent 2 years at Nitobi working primarily with Javascript, contributing to
    CompleteUI, a suite of JS components.

h4 Projects

strong TreeGrid for CompleteUI

p A Javascript spreadsheet component that supported nested, hierarchical data.

strong Calendar for CompleteUI

p A highly configurable Javascript datepicker component for CompleteUI.

h2 Education

h3 University of British Columbia (2000-2005)

p B.Sc.in Computer Science and a minor in Philosophy.
