* {
    margin: 0;
}

body {
  font-family: "Helvetica";
  font-size: 100%;
  line-height: 1.25;
  background: #f4f4f7;
  color: #444;
  width: 680px;
  margin: auto;
  margin-bottom: 4em;
}

h1 {
    font-size: 3em;
    font-weight: 300;
}

#about {
    #header {
        overflow: auto;
    }

    #name {
        float: left;
        h1 {
            padding-top: 1.25em;
        }
    }

    #avatar {
        float: left;
        position: relative;
        top: 56px;
        left: 24px;
    }

    #contact {
        clear: both;
        padding-bottom: 2.5em;
        padding-top: 1.25em;
    }

    #me {
    }
}



h2 {
    font-size: 2em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

h3 {
    font-size: 1.1667em;
    padding-bottom: 1.5178599936143038em;
    padding-top: 1.5178599936143038em;
}

h4 {
    font-size: 1em;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
    font-style: oblique;
}

#me {
    clear: both;
    border-radius: 12px;
    background-color: #4A87FF;
    color: #F4F4F4;
    padding: 1.25em 1em;
}

#avatar {
    img {
        width: 60px;
        height: 60px;
    }
}

div#experience {
    div:first-child h3 {
        padding-top: 0em;
    }
}
div#education {
    h3 {
        padding-top: 0em;
    }
}

a {
    color: #4A87FF
}
