* {
    margin: 0;
}

body {
  font-family: "Helvetica";
  font-size: 100%;
  line-height: 1.25;
  background: #f4f4f7;
  color: #444;
  width: 680px;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 1.25em;
}

a {
    color: #4A87FF
}

h1 {
    font-size: 3em;
    font-weight: 300;
}

h2 {
    font-size: 2em;
    //padding-top: 1.25em;
    //padding-bottom: 1.25em;
}

h3 {
    font-size: 1.1667em;
    padding-bottom: 1.5178599936143038em;
    padding-top: 1.5178599936143038em;
}

h4 {
    font-size: 1em;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
    font-style: oblique;
}

#about {
    #name {
        float: left;
        h1 {
            padding-top: 1.25em;
        }
    }

    #avatar {
        float: left;
        position: relative;
        top: 56px;
        left: 24px;
        img {
            width: 60px;
            height: 60px;
        }
    }

    #contact {
        clear: both;
        padding-bottom: 2.5em;
        padding-top: 1.25em;
    }

    #me {
        clear: both;
        border-radius: 12px;
        background-color: #4A87FF;
        color: #F4F4F4;
        p {
            padding: 1.25em 1em;
        }
    }
}

#experience {
}
