#about
    #header
        #name
            h1 Michael Han
        #avatar
            img(src="avatar.png")
    #contact
        p <a href="http://www.twitter.com/michaelhan">@michaelhan</a>
    #me
        p.
            I love writing code. I love learning new languages, technologies, and
            techniques.
        p.
            I am a software developer specializing, lately, in Objective-C and
            JavaScript. I sometimes dabble in Ruby, Java, and C# as necessary.
        p.
            I am a terrible <a href="http://stats.adultrechockey.ca/c-burnaby/weekend/en/stats/player.php?id=153691&team_id=7968&division_id=80&season_id=151">beer league hockey player</a>.

#experience
    h2 Work History

    .job
        h3 Software Architect @ <a href="http://www.foresee.com">ForeSee</a> (2008-Present)

        ul
            li
                h4 SessionReplay SDK (iOS)
                p.
                    Led development of an analytics SDK that enabled developers
                    to record how their users interact with their apps.

                p.
                    Learned a lot about Objective-C, its dynamic runtime, performance
                    analysis using Instruments, and a variety of built-in Cocoa
                    frameworks on this project.

            li
                h4 Trigger SDK (iOS)
                p.
                    Developed a satisfaction analytics SDK that
                    helped developers measure their users' satisfaction with
                    their app.

                p.
                    Learned a lot of lessons about designing
                    APIs, and the importance of deciding what
                    functionality to expose, how to name and describe that
                    functionality, and the pitfalls of not having a proper
                    deprecation strategy.

            li
                h4 Location-based survey panel prototype app (iOS)
                p.
                    Prototyped an iOS app that used location services to
                    track a users proximity to a physical store to
                    try and determine whether the user entered and exited that store.

            li
                h4 Heatmap Generator (Java)
                p.
                    Created a Java service to compute and render click/touch and
                    scroll heatmaps from recorded DOM events.
     .job
         h3 Developer @ Nitobi (2006-2008)

         ul
             li
                h4 TreeGrid Component (JavaScript)
                p.
                   A Javascript spreadsheet component that supported nested, hierarchical data.

             li
                h4 Calendar Component (JavaScript)
                p.
                   A highly configurable Javascript datepicker component.

#education
    h2 Education

    h3 B.Sc. @ <a href="http://www.ubc.ca">UBC</a> (2000-2005)
    ul
        li
            h4 Major in Computer Science
        li
            h4 Minor in Philosophy
            

