#about
    #header
        #name
            h1 Michael Han
        #avatar
            img(src="avatar.png")
    #contact
        p <a href="http://www.twitter.com/michaelhan">@michaelhan</a>
    #me
        p.
            I am a software developer searching for that fine line between coding quickly
            and coding thoughtfully. I am experienced in Objective-C and Javascript, and I have
            dabbled in Ruby, Java, C, C#, C++, and Scheme.

#experience
    h2 Work History

    .job
        h3 Software Architect @ <a href="http://www.foresee.com">ForeSee</a> (2008-Present)

        ul
            li SessionReplay SDK (iOS)
            p.
                Stuff
            li Trigger SDK (iOS)
            p.
                More Stuff
            li Location-based survey panel prototype app (iOS)
            p.
                Again stuff
            li Heatmap Generator (Java)
            p.
                Stuffity stuff stuff

     .job
         h3 Developer @ Nitobi (2006-2008)

         ul
             li TreeGrid Component (JS)
             li Calendar Component (JS)

#education
    h2 Education

    h3 B.Sc. @ <a href="http://www.ubc.ca">UBC</a> (2000-2005)
    ul
        li Major in Computer Science
        li Minor in Philosophy
            

