#about
    #header
        #name
            h1 Michael Han
        #avatar
            img(src="avatar.png")
    #contact
        p <a href="http://www.twitter.com/michaelhan">@michaelhan</a>
    #me
        p.
            I love writing code. I love learning new languages, technologies, and
            techniques.
        p.
            I am a software developer searching for that fine line between coding quickly
            and coding thoughtfully. I am experienced in Objective-C and Javascript, and I have
            dabbled in Ruby, Java, C, C#, C++, and Scheme.

#experience
    h2 Work History

    .job
        h3 Software Architect @ <a href="http://www.foresee.com">ForeSee</a> (2008-Present)

        ul
            li SessionReplay SDK (iOS)
            p.
                Led development of an analytics SDK that enabled developers
                to record how their users interact with their apps.

            p.
                Learned a lot about Objective-C, its dynamic runtime, performance
                analysis using Instruments, and a variety of built-in Cocoa
                frameworks on this project.

            li Trigger SDK (iOS)
            p.
                Led development of a satisfaction analytics SDK that
                helped developers measure their users' satisfaction with
                their app.

            p.
                Learned some painful lessons about designing APIs, and the
                importance of deciding what
                functionality to expose, how to name and describe that
                functionality, and the pitfalls of not having a proper
                deprecation strategy.

            li Location-based survey panel prototype app (iOS)
            p.
                Prototyped a iOS app that used location services to
                track a users proximity to a physical store to
                try and determine whether the user entered and exited that store.

            li Heatmap Generator (Java)
            p.
                Created a Java service to compute and render touch and scroll heatmaps
                from the metadata recorded by SessionReplay.
     .job
         h3 Developer @ Nitobi (2006-2008)

         ul
             li TreeGrid Component (JS)
             li Calendar Component (JS)

#education
    h2 Education

    h3 B.Sc. @ <a href="http://www.ubc.ca">UBC</a> (2000-2005)
    ul
        li Major in Computer Science
        li Minor in Philosophy
            

